body {
  font-family: "Oswald", monospace;
  text-align: center;
  background-image: url("https://images.unsplash.com/photo-1562020475-e8168adfcfb8?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-color: #000000;
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  text-align: center;
  padding: 20px;
}

body > img {
  margin: 0 10px;
}

h1{
    text-shadow: 4px 4px 4px;
}
img {
  max-height: 220px;
}

input{
  padding: 15px;
  outline: none;
  border-radius: 10px;
  width: 50%;
}

button{
  width: 150px;
  height: 30px;
  border-radius: 7px;
}

button:hover{
  background-color: #505050;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
